BACKEND_CORS_ORIGINS="http://localhost,http://localhost:5173,https://localhost,https://localhost:5173,http://localhost.tiangolo.com, https://xbhl-frontend.onrender.com"
DATABASE_URL=
DOCKER_IMAGE_BACKEND=backend
DOCKER_IMAGE_FRONTEND=frontend
DOMAIN=localhost
EMAILS_FROM_EMAIL=
ENVIRONMENT=local
FIRST_SUPERUSER=
FIRST_SUPERUSER_GAMERTAG=
FIRST_SUPERUSER_PASSWORD=
FRONTEND_HOST=http://localhost:5173
PROJECT_NAME=XBHL
SECRET_KEY=
SENTRY_DSN=
SMTP_HOST=
SMTP_PASSWORD=
SMTP_PORT=587
SMTP_SSL=False
SMTP_TLS=True
SMTP_USER=
STACK_NAME=full-stack-fastapi-project
TIMEZONE=America/New_York